* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-size: 1.6rem;
    font-family: 'Public Sans', sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #152427;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    height: 57px;
    border-radius: 99px;
    border: 1.5px solid #143C3C;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    background: #143C3C;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.subtitle {
    position: relative;
    color: #152427;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-left: 46px;
}

.subtitle::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
    left: -46px;
    top: 12px;
}


/* Header */
.header {
    position: sticky;
    z-index: 1;
    top: -14px;
    background: #fff;

}

.header__fixed {
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding: 28px 0 13px;
    width: 1140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
    border-image-slice: 1;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    margin-right: 8px;
}

.logo__text {
    color: #000;
}

.navbar {
    display: flex;
    column-gap: 88px;


}

.navbar__list {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.navbar__link:hover {
    color: #152427;
}

.navbar__link {
    position: relative;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link-action {
    text-shadow: 1px 0 0 currentColor;
    color: #152427;
}

.navbar__link-action::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: #143C3C;
    left: 0;
    bottom: -32px;

}

/* Hero */
.hero {
    padding: 74px 0;

}

.hero__wrap {
    column-gap: 76px;
    display: flex;
}

.hero__content {
    margin-top: 43px;
}

.hero__heading {
    color: #152427;
    max-width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    max-width: 368px;
    margin: 20px 0 42px;
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    display: flex;
    column-gap: 36px;
}

.hero__play {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 15px;
}


.hero__play::after {
    position: absolute;
    content: "";
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 4px solid #143C3C;
    border-color: transparent transparent #143C3C #143C3C;
    rotate: 45deg;
    left: -10px;
    right: 0;
    transition: .25s;
}

.hero__play:hover {
    opacity: 0.8;
}

.hero__play:hover::after {
    rotate: 225deg;
}

.hero__play:hover .hero__watchvideo {
    color: #143C3C;

}

.hero__watchvideo {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    position: relative;
    width: 55%;
}

.hero__media-vector {
    position: absolute;
    left: -165px;
    top: -30px;
}

.hero__media-vector:nth-child(2) {
    left: -211px;
}

.hero__media-vector:nth-child(4) {
    top: auto;
    bottom: -35px;
    right: -10px;
    left: auto;
}

.hero__media-vector:nth-child(5) {
    top: auto;
    bottom: -62px;
    right: 31px;
    left: auto;
}

.hero__image {
    display: flex;
    column-gap: 20px;

}


.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

/* Logo */
.logo {
    margin: 130px 0 53px;
}

.logo__list {
    display: flex;
    border-radius: 100.5px;
    background: #E2EDDF;
    align-items: center;
    justify-content: space-between;
    padding: 76px 122px;
}

.logo__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.google {
    color: #143C3C;
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 500;
}

.slack {
    color: #143C3C;
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 600;
}

.agworld {
    color: #163C35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
}

.rioTinto {
    color: #143C3C;
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
}

.heroku {
    color: #143C3C;
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    padding-top: 53px;
    margin-bottom: 77px;
}

.service__subtitle {
    line-height: 1.62;
}

.service__row {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.service__heading {
    position: relative;
    max-width: 520px;
}

.service__heading::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 20px;
    right: 106px;
}

.service__control {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.service__control-btn {
    display: flex;
    width: 54px;
    height: 54px;
    background: #143C3C;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .25s;
}

.service__control-btn:last-child {
    rotate: 180deg;
}

.service__control-btn:hover {
    background: #E2EDDF;
    color: #152427;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 78px;
}

.service__list-item {
    border-radius: 20px;
    overflow: hidden;
    transition: .25s;

}

.service__content-img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: 318px;
    transition: .25s;
}

.service__body {
    margin-right: 84px;
    padding: 24px 0 24px 18px;
}

.service__body-title {
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service__body-desc {
    margin-top: 18px;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.service__list-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__list-item:hover .service__content-img {
    transform: scale(1.1)
}

/* About */
.about {
    padding-top: 80px;
    margin-bottom: 79px;
}

.about__wrap {
    display: flex;
}

.about__image {
    position: relative;
    margin-right: 64px;
    display: flex;
    width: 58%;
}

.about__image-wrap {
    display: flex;
    column-gap: 21px;

}

.about__image-img {
    max-width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);

}

.about__image-img:first-child {
    margin-top: 77px;
}

.about__media-vector {
    position: absolute;
    left: 24px;
    top: -50px;
}


.about__media-vector:last-child {
    left: 64px;
    top: -5px;
}



.about__heading {
    margin-top: 20px;
    color: #152427;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__desc {
    margin-top: 11px;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.about__subtitle {
    position: relative;
    margin-top: 36px;
    display: flex;
    column-gap: 24px;


}

.about__subtitle::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #83A17D;
    left: 0;
    bottom: -14px;

}

.about__percent {
    color: #152427;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__text {
    max-width: 364px;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
}

/* About summary */
.about__summary {
    position: absolute;
    right: -9px;
    bottom: 8px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__summary-wrap {
    padding: 19px 23px 3px;

}

.about__summary-title {
    color: #152427;
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about__summary-desc {
    margin-top: 6px;
    color: #575D5E;
    font-family: Public Sans;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.4;
}

.about__summary-percent {
    position: relative;
    color: #152427;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__summary-percent::before {
    content: "";
    position: absolute;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
    left: 0;
    top: 13px;
}

.about__summary-percent::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83A17D;
    left: 0;
    top: 13px;
}

.about__summary-status {
    margin-top: 5px;
    text-align: end;
    color: #152427;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__summary-circle {
    width: 11px;
    height: 11px;
    padding: 3px 0 4px 19px;
    flex-shrink: 0;
}

.about__teams {
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 17px 11px;

}

.about__teams-text {
    color: #152427;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__teams-image {
    display: flex;
}

.about__teams-img {
    width: 16px;
    height: 16px;
    margin-left: -5px;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.about__teams-img:first-child {
    margin-left: 0;
}

/* Process */
.process {
    position: relative;
    padding-top: 36px;
}

.process__heading {
    position: relative;
    max-width: 477px;
}

.process__heading::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 20px;
    right: -6px;
}

.process__img {
    position: absolute;
    width: 450px;
    height: 444px;
    object-fit: cover;
    right: 277px;
    top: -8px;
}

.process__list {
    margin-top: 81px;
}

.process__list-item {
    display: flex;
    align-items: center;
    height: 185px;
    border-bottom: 1px solid #83A17D;
    transition: .25s;
}

.process__list-item:hover {
    border-radius: 33px;
    background: #E2EDDF;
    border: none;
}

.process__list-item:hover .process__list-learn {
    display: inline-block;
}

.process__list-learn:hover {
    opacity: 0.7;
}

.process__list-number {
    color: #143C3C;
    font-family: Poppins;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.22;
    margin-left: 20px;
}

.process__list-first {
    margin-left: 37px;

}

.process__list-learn {
    display: none;
    margin-top: 22px;
    color: #575D5E;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    transition: .25s;

}


.process__list-title {
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.process__list-more {
    margin-left: 49px;

}

.process__list-item:first-child .process__list-more {
    margin-left: 52px;
}

.process__list-desc {
    width: 572px;
    height: 84px;
    margin-left: auto;
    margin-right: 41px;
    color: #7D8188;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}

/* Projects */
.projects {
    position: relative;
    margin-top: 148px;
    background: #143C3C;
    padding-bottom: 63px;
}

.projects__text {
    display: flex;
    justify-content: space-between;
    column-gap: 93px;
    padding-top: 116px;
}

.projects__text-desc {
    color: #6A8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.projects__heading {
    position: relative;
    max-width: 457px;
    color: #E7F9F9
}

.projects__text-browse {
    margin-top: 13px;

}

.projects__text-browse:hover {
    opacity: 0.7;
}

.projects__text-link {
    color: #FFF;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.projects__text-btn svg {
    rotate: 180deg;
    margin-left: 26px;
    color: #80A07B;
}

.projects__heading::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 20px;
    right: 98px;
}


.projects__media {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: #000;
    margin: 65px 0 0;
    border-radius: 22px;
    overflow: hidden;
}

.projects__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


}


.projects-vector {
    position: absolute;
    right: 134px;
    top: 207px;
}

.projects-vector:last-child {
    top: 114px;
}

/* Features */
.features {
    margin-top: 140px;

}

.features__top {
    text-align: center;

}

.features__heading {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.features__desc {
    margin-top: 20px;
    max-width: 547px;
    margin-left: auto;
    margin-right: auto;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.features__list {
    display: flex;
    column-gap: 45px;
}

.features__list-item {
    margin-top: 103px;
    text-align: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    transition: .25s;
}

.features__list-item:hover {
    margin-top: 59px;
}

.features__list-item:hover {
    border-radius: 160px;
    background: #FFF;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    border: none;
}

.features__list-icon {
    margin-top: 60px;
}

.features__list-title {
    margin-top: 23px;
    color: #152427;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.features__list-text {
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.features__list-item:first-child .features__list-text {
    margin: 9px 27px 0 37px;
}

.features__list-item:nth-child(2) .features__list-text {
    margin: 12px 42px 0;
}

.features__list-item:last-child .features__list-text {
    margin: 12px 40px 0 46px;
}

/* Blog */
.blog {
    margin-top: 92px;
    padding-top: 92px;
}

.blog__text {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    position: relative;
    max-width: 520px;
}

.blog__heading::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 20px;
    right: -30px;
}


.blog__desc {
    max-width: 409px;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog__list-item {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    transition: .25s;

}


.blog__list-item:hover {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__list-item:hover .blog__list-img {
    transform: scale(1.1);
}

.blog__list-img {
    width: 360px;
    height: 317px;
    object-fit: cover;
    transition: .5s;
}

.blog__list-body:hover {
    transform: translateX(30px);
}

.blog__list-body {
    width: 346px;
    padding-right: 30px;
    transition: .5s;
}

.blog__list-body:hover .blog__list-action {
    color: #fff;
    background: #143C3C;
}




.blog__list-action {
    margin-top: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 107px;
    height: 26px;
    border-radius: 20px;
    background: #E2EDDF;
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog__list-desc {
    margin-top: 13px;
    padding-bottom: 9px;
    width: 100%;
    color: #143C3C;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog__desc-2row {
    padding-bottom: 40px;
}


.blog__list-line {
    width: 100%;
    height: 1px;
    background: #C4C4C4;
}

.blog__list-time {
    position: relative;
    margin: 16px 13px 12px 0;
    text-align: end;
    color: #575D5E;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog__list-time::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #C4C4C4;
    top: -16px;
    left: 0;
}

/* Footer */
.footer {
    margin-top: 102px;
    padding: 72px 0 50px;
    background: #143C3C;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__news {
    width: 50%;
}

.footer__action {
    display: flex;
    position: relative;
    margin-top: 25px;
    column-gap: 20px;
    align-items: center;

}

.footer__input {
    position: relative;
    display: inline-block;
    width: 303px;
    height: 42px;
    background: transparent;
    border: none;

}

.footer__input:focus {
    outline-style: none;
}

.footer__line {
    position: absolute;
    width: 340px;
    height: 1px;
    background: #6A8383;
    left: 0;
    bottom: -10px;

}

.footer__input::placeholder,
.footer__input[type=email] {
    margin-left: -10px;
    color: #6A8383;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.footer__input[type=email] {
    padding: 12px 10px;
    font-size: 2rem;


}


.footer__signup {
    color: #FFF;
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 500;
}



.footer__btn {
    background: transparent;
    border: none;
    rotate: 180deg;
    color: #c4c4c4;
    cursor: pointer;
}

.footer__social {
    display: flex;
    margin-top: 47px;
}

.footer__social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 99px;
    transition: .25s;

}

.footer__social-icon:hover {
    border: none;
    background: #A75325;
}

.footer__social-icon:hover .footer__social-link {
    color: #000;
}

.footer__social-link {
    color: #fff;
}


.footer__wrap {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer__heading {
    margin-top: 22px;
    color: #FFF;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer__link {
    color: #6A8383;
    font-family: Public Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25;
}

.footer__link:hover {
    opacity: 0.8;
    text-decoration: underline;
}